/*---------------BASE-----------*/
body{
  margin: 0;
  padding: 0;
  line-height: 1.75;
  font-size: 16px;
  color: #737373;
  font-family: "Open sans", sans-serif;
}
a{
  color: inherit;
  text-decoration: none;
}
hr{
  height: 2px;
  background-color: #e6e6e6;
  border: none;
  margin: 100px 0;
}
h1{
  color: black;
}
h2{
  font-size: 25px;
  color: #000;
  line-height: 1.25;
  text-transform: uppercase;
}
p{
  font-size: 16px;
  text-align: justify;
}

/*---------------LAYOUT-----------*/
.l-container{
  width: 1150px;
  margin: 0 auto;
}

/*---------------HEADER-----------*/
.header{
  background-image: url(img/header.jpg);
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  padding: 70px 0 165px 0;
  min-width: 1200px;
}
/*------ HEADER 1 -------------*/
.header-logo{
  display: block;
  float: left;
}
.menu{
   font-size: 20px;
   font-weight: 600;
   text-align: right;
   float: right;
 }
.menu-item{
    display: inline-block;
    padding: 0 37px;
    margin-top: 60px;

}
.header-baseline{
    display: inline-block;
    margin-top: 214px;
    width: 1170px;


    text-align: center;
    letter-spacing: 0.5px;
    font-family: 'Open sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
 }
.header-baseline-l1{
  font-size: 45px;
  line-height: 57px;
  letter-spacing: -1px

}
.header-baseline-l2{
  font-size: 65px;
  font-weight: bold;
  line-height: 70px;
}
.header-baseline-l3{
  font-size: 40px;
  line-height: 70px;
}
/*------ HEADER 2 -------------*/
.header-bis{
  background-image: url(img/header.jpg);
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  padding: 150px 0;
  min-width: 1200px;
}
.quote-text{
  text-align: center;
  margin-top: 0px;
  font-size: 45px;
  font-family: "Open-sans" sans-serif;
  font-weight: 500;
  padding: auto auto;
}
.quote-author{
  margin: 0 auto;
  width: 155px;

  font-size: 24px;
  font-family: "Open-sans" sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-style: normal;
  text-align: center;
}
.small-bar{
  margin: 0 auto;
  margin-bottom: 22px;
  height: 4px;
  width: 50px;
  background-color: #F29C12;
}
/*-------BOUTTON---------------*/
.btn{
  margin: 90px auto;
  background-color: #F29C12;
  padding: 16px 40px;
  width: 110px;

  font-family: 'Open sans',sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
}

/*---------------SECTION-----------*/
.section{
  background-color: #FFF;
}
.section-title{
  margin: 85px 0;
  height: 56px;
}
.section-title h1{
  float: left;
  padding-right: 18px;
  border-right: 4px solid #F29C12;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  margin: 5px 0 0 50px;
}
.section-title p {
   float:right;
    width: 950px;
    text-transform: uppercase;
    margin: 0;
    m argin: 0;
  }

  /*---------------ABOUT-----------*/
.about-icon{
    width: 125px;
    height: 125px;
    float: left;
    margin-right: 30px;
    margin-top: 20px;
  /*  border: 2px solid #F29C12;
      border-radius: 125px;
      text-align: center;          */
  }
  .about-text{
    width: 500px;
    display: inline-block;
  }
  .about-picture{
    margin-top: 40px;
    display: inline-block;
    float:right;
  }
  .about-text p{
      width: 500px;
      text-transform: none;
    }
  .about-alert{
    font-weight: 300;
    color: #e74c3c;
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 1.5;
  }
  .about-text h2{
      width: 500px;
    }

  /*------ABOUT 2-----------*/
  .about-2{
    margin-bottom: 125px;
  }
  .about-picture-2{
    float: left;
    width: 500px;
    height: 485px;
    margin: 15px 95px 0 0;
  }
  .about-icon-2{
    height: 125px;
    width: 125px;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 80px;
    }
  .about-text-2{
    width: 400px;
    float: right;
  }
  .about-text-2 h2{
      width: 402px;
      float: right;
      margin: 0 0 20.750px 0;
    }
  .about-text-2  p{
      width: 402px;
      text-transform: none;
    }

/*------PROGRESS-----------*/
    .progress-title{
      line-height: 60px;
    }
    .progress-title strong{
        text-transform: uppercase;
        color: #000;
    }
    .progress-bar{
      height: 10px;
      background-color: #e6e6e6;
      position: relative;
      width: 553px;
      float: right;
    }
    .progress-bar span{
      background-color: #F29C12;
      height: 10px;
      position: absolute;
    }

/*---------------TEAM-----------*/
  .all-team{
    height: 515px;
    margin-bottom: 165px;
  }
  .team{
    margin: 0 6.7px;
    display: inline-block;
    float: right;
    width: 270px;
    height: auto;
    border: solid 1px black;

  }
  .team-icon{
    padding-top: 30px;
    margin: 0 auto;
    width: 200px;
    height: 200px;
  }
  .team-name{
    margin-top: 30px;

    text-align: center;
    font-family: "Open-sans" sans-serif;
    font-size: 20px;
    color: black;
    text-transform: uppercase;
    font-weight: bolder;
  }
  .team-fonction{
    font-family: "Open-sans" sans-serif;
    text-align: center;
  }
  .team-bar{
    background-color: #cccccc;
    height: 4px;
    width: 20px;
    margin: 14px auto;
  }
  .team-txt{
    text-align: center;
    margin-bottom: 25px;
    padding: 0 19px;
  }
  .team-social{
    height: 18px;
    width: 148px;
    margin: 0 auto 30px auto;
  }

  /*---------------FACTS-----------*/
.facts{


}
.fact{
  width: 170px;
  display: inline-block;
  margin: auto 55px;
}
.fact h1{
  font-family: "Open-sans" sans-serif;
  font-weight: bold;
  font-size: 45px;
  color: #ffffff;

  text-align: center;
  margin: 0;
}
.fact p{
  font-family: "Open-sans" sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: #ffffff;

  text-align: center;
  margin-top: -16px;

}
