.about-icon{
  width: 125px;
  height: 125px;
  float: left;
  margin-right: 30px;
  margin-top: 20px;

/*  border: 2px solid #F29C12;
    border-radius: 125px;
    text-align: center;          */
}
.about-text{
  width: 500px;
  display: inline-block;
}
.about-picture{
  margin-top: 40px;
  display: inline-block;
  float:right;
}
.about-text p{
    width: 500px;
    text-transform: none;
  }
.about-alert{
  font-weight: 300;
  color: #e74c3c;
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 1.5;
}
.about-text h2{
    width: 500px;
  }

/*------ABOUT 2-------------------------------------*/

.about-2{
  margin-bottom: 125px;
}
.about-picture-2{
  float: left;
  width: 500px;
  height: 485px;
  margin: 15px 95px 0 0;
}
.about-icon-2{
  height: 125px;
  width: 125px;
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 80px;
  }
.about-text-2{
  width: 400px;
  float: right;
}
.about-text-2 h2{
    width: 402px;
    float: right;
    margin: 0 0 20.750px 0;
  }
.about-text-2  p{
    width: 402px;
    text-transform: none;
  }
