.btn{
  margin: 90px auto;
  background-color: #F29C12;
  padding: 16px 40px;
  width: 110px;

  font-family: 'Open sans',sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
}
