.section{
  background-color: #FFF;
}
.section-title{
  margin: 85px 0;
  height: 56px;
}
.section-title h1{
  float: left;
  padding-right: 18px;
  border-right: 4px solid #F29C12;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  margin: 5px 0 0 50px;
}
.section-title p {
   float:right;
    width: 950px;
    text-transform: uppercase;
    margin: 0;
    m argin: 0;
  }
